body {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .open-doodles {
    display: none;
  }
}
.open-doodles {
  position: absolute;
  width: 333px;
  height: 298px;
  right: 0;
  bottom: 10px;
}

.card-signin {
  background: #ebf4ff;
  z-index: 99;
}